<template>
    <div class="wrapper_submitted" v-if="calories > 0  ">
      <div class="header-submitted"><h2>Food facts</h2></div>
      <ul class="output">
        <h4>{{name}}</h4>
        <li><span>Calories:</span> {{calories}} Kcal</li>
        <li><span>Calories from fat:</span> {{caloriesFromFat}}</li>
        <li><span>Total Fat:</span> {{totalFat}} g</li>
        <li><span>Saturated Fat:</span>  {{saturatedFat}} g</li>
        <li><span>Cholesterol:</span>  {{cholesterol}} mg</li>
        <li><span>Sugar:</span> {{sugar}} g</li>
        <li><span>Protein:</span> {{protein}} g</li>
      </ul>
    </div>
</template>


<script>
import axios from "axios";
export default {
  data() {
    return {};
  },
  props: [
    "calories",
    "name",
    "caloriesFromFat",
    "totalFat",
    "saturatedFat",
    "cholesterol",
    "carbohydrate",
    "sugar",
    "protein",
    "data"
  ]
};
</script>

<style lang="scss" scoped>
.wrapper_submitted {
  position: absolute;
  left: 80%;
  top: 25%;
  background-color: #702283;
  border-radius: 4px;
  height: auto;
  width: 250px;
  overflow: hidden;

  padding: 10px;
}

.header-submitted {
  height: 14%;
  background-color: #ff5728;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.output {
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  span {
    font-size: 19px;
    font-weight: bold;
    margin-right: 15px;
  }

  li {
    padding: 6px;
    font-size: 15px;
    background-color: #96043e;
    border-radius: 2px;
  }
}
</style>

