<template>
  <div id="wrapper">
    <div class="container">
      <div class="header"><h2>Check food facts</h2></div>
      <div class="input-container">
        <input type="text" name="fname" v-model="data" class='input' placeholder="Insert food name...">
        <div @click="send" class="submit">Check</div>
      </div>

    </div>
  <transition name="fade">
    <submitted 
      :calories="results.calories"
      :name="results.item_name"
      :caloriesFromFat="results.caloriesFromFat"
      :totalFat="results.totalFat"
      :saturatedFat="results.saturatedFat"
      :cholesterol="results.cholesterol"
      :carbohydrate="results.carbohydrate"
      :sugar="results.sugar"
      :protein="results.protein"
      :data="data"
      >
    </submitted>
  </transition>


  </div>
</template>

<script>
import axios from "axios";
import submitted from "./components/submitted";

export default {
  data() {
    return {
      data: "",
      results: {
        item_name: "",
        calories: "",
        caloriesFromFat: "",
        totalFat: "",
        saturatedFat: "",
        cholesterol: "",
        carbohydrate: "",
        sugar: "",
        protein: ""
      }
    };
  },
  components: {
    submitted
  },

  methods: {
    send() {
      let app = this;
      let appId = "1fa07e4b";
      let appKey = "6bc80366ada16bd5bbec23a32e84fb11";
      let url = `https://api.nutritionix.com/v1_1/search/${
        this.data
      }?results=0:20&fields=item_name,serving_qty,brand_name,nf_calories_from_fat,nf_total_fat,nf_saturated_fat,nf_cholesterol,nf_total_carbohydrate,nf_sugars,nf_protein,nf_calories&appId=${appId}&appKey=${appKey}`;

      axios
        .get(url)
        .then(function(response) {
          console.log(response);
          app.results.calories = response.data.hits[0].fields.nf_calories;
          app.results.item_name = response.data.hits[0].fields.item_name;
          app.results.caloriesFromFat =
            response.data.hits[0].fields.nf_calories_from_fat;
          app.results.totalFat = response.data.hits[0].fields.nf_total_fat;
          app.results.saturatedFat =
            response.data.hits[0].fields.nf_saturated_fat;
          app.results.cholesterol = response.data.hits[0].fields.nf_cholesterol;
          app.results.carbohydrate =
            response.data.hits[0].fields.nf_total_carbohydrate;
          app.results.sugar = response.data.hits[0].fields.nf_sugars;
          app.results.protein = response.data.hits[0].fields.nf_protein;
        })
        .catch(function(error) {
          app.results.calories = "Invalid item";
        });
      this.results.calories = 0;
      this.data = "";
      console.log(app.results.name);
    }
  }
};
</script>

<style lang="scss">
body {
  background-image: url("./assets/rezel-apacionado-362232-unsplash.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Exo 2", sans-serif;
}

* {
  box-sizing: border-box;
}
.container {
  background-color: #ffc400;
  border-radius: 4px;
  height: 400px;
  width: 250px;
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.header {
  height: 14%;
  background-color: #ff5728;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: rgba(247, 236, 236, 0.877);
}

.input-container {
  position: absolute;
  width: 100%;
  height: 60%;
  margin-top: 40%;
}
.input {
  background-color: #c90035;
  color: white;
  height: 40px;
  margin-bottom: 20%;
  border-radius: 3px;
  border: none;
  padding-left: 2%;
  margin-left: 50%;
  transform: translateX(-50%);

  &::placeholder {
    text-align: center;
    color: white;
  }

  &:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #719ece;
  }
}

.submit {
  background-color: #96043e;
  color: white;
  border-radius: 3px;
  width: 40%;
  padding: 5% 2%;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  text-align: center;
  transition: all 1s;

  &:hover {
    background-color: #5b1647;
  }
}

.fade-enter-active,
.fade-leave-active {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounceInRight {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
</style>
